@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root{
    --p-color: #f00;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    height: 100vh;
    overflow: hidden;
}

.logo{
    width: 15vw;
    margin-left: 3vw;
}

header{
    background-color: var(--p-color);
    box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.3);
    width: 100vw;
}

.txt{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    color: var(--p-color);
    font-size: 40px;
}

.form{
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 4.5vh;
}

form{
    display: grid;
    grid-template-columns: 20vw 20vw;
    column-gap: 2vw;
    width: 80vw;
    justify-content: center;
}

input{
    width: 20vw;
    font-size: 25px;
    padding: 15px;
    margin: 20px 0;
    border: none;
    border: 2px solid white;
    border-bottom: 2px solid red;
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus{
    border: 2px solid var(--p-color);
}

::-webkit-input-placeholder { 
    color: var(--p-color); 
    font-weight: 700;
}

.div_btn{
    display: flex;
    width: 100vw;
    justify-content: center;
    margin-top: 2vh;
}

#btn{
    font-size: 25px;
    padding: 10px 15px;
    background-color: var(--p-color);
    color: #fff;
    border: none;
    box-shadow: 3px 3px 7px 0px rgba(0,0,0,0.3);
    cursor: pointer;
}

#btn:active{
    background-color: rgb(199, 0, 0);
    transform: translateY(2px);
}

select{
    width: 20vw;
    font-size: 25px;
    padding: 15px;
    margin: 20px 0;
    border: none;
    border-bottom: 2px solid var(--p-color);
    outline: none;
    color: var(--p-color);
    font-weight: 700;
}