@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    height: 100vh;
}


.logo{
    width: 50vw;
    margin-left: 3vw;
}

header{
    background-color: #f00;
}

.txt{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    color: #f00;
    font-size: 40px;
    text-shadow: 4px 1px 7px rgba(100, 100, 100, .5);
}

.form{
    display: flex;
    justify-content: center;
    width: 100vw;;
}

form{
    display: flex;
    flex-direction: column;
    width: 80vw;
}

input{
    font-size: 25px;
    padding: 10px;
    margin: 7.5px 0;
    border: 2px solid rgba(0, 0, 0, .1);
    outline: none;
}

input:focus{
    border: 2px solid #f00;
}

::-webkit-input-placeholder { 
    color: #f00; 
    font-weight: 700;
    text-shadow: 3px 1px 4px rgba(100, 100, 100, .5);
}

.div_btn{
    display: flex;
    width: 100vw;
    justify-content: center;
    margin-top: 10vh;
}

#btn_login{
    font-size: 25px;
    padding: 10px 15px;
    background-color: #f00;
    color: #fff;
    border: none;
    box-shadow: 3px 3px 7px 0px rgba(0,0,0,0.3);
}